<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
    <link rel="stylesheet" href="/stylesheets/style.css" type="text/css">

    <script src="/javascripts/vendor/document-register-element.js"></script>
    <script src="/javascripts/vendor/hinclude.js" type="text/javascript"></script>
    <script src="/javascripts/vendor/includes-refresher.js" type="text/javascript"></script>
  </head>
  <body>
    <h1>Simple Web Shop</h1>

    <a href="/products/1/">Product 1</a>

    <h-include src="/shopping-cart"></h-include>

    <script src="/javascripts/vendor/jquery-2.2.0.min.js"></script>
    <script src="/javascripts/vendor/jquery-pjax-1.9.6.js"></script>
    <script src="/javascripts/main.js"></script>
  </body>
</html>